@media (min-width:1024px) {
    .first_header {
        display: block !important;
    }

    .first_header_mobile {
        display: none !important;
    }
}

@media (max-width:994px) {
    .first_header {
        display: none !important;
    }

    .first_header_mobile {
        display: block !important;
    }

    .second_header {
        display: none !important;
    }
}

.first_header {
    height: 30px;
    padding: 5px;
    background-color: #f4f6f8;
    font-size: 13px;
    text-align: right;
}

.second_header {
    height: 130px;
    padding-top: 25px;
}

.call_contain {
    height: 50px;
}

.first_header_row {
    height: 62px;
}

.first_header_mobile {
    height: 100px;
    padding: 20px;
}

.second_header_row {
    height: 62px;
}

.header_menu {
    margin-top: 3px;
    margin-bottom: 0;
}

.header_menu li {
    display: inline;
    font-size: 18px;
    padding-right: 45px;
    padding-left: 45px;
    border-right: 1px solid rgb(207, 201, 201);
}

.header_menu {
    padding: 0;
}

.header_menu ul {
    padding: 0;
}

.first_slider {
    height: 320px;
    background-image: url(img/background-slider-01.jpg);
}

.hading_text {
    text-align: right;
    color: white;
}

.facility_container {
    height: 150px;
    padding-top: 30px;
    margin-bottom: 20px;
}

.facility_text {
    text-align: center;
    margin-bottom: 10px;
    border-right: 1px solid #E5E8EB;
}

#nav {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0px;
    top: 0px;
    width: 94%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#nav ul li {
    list-style: none;
    margin: 50px 20px;
    color: black;
    border-bottom: 1px solid #9d9d9d;
}

#menubtn {
    width: 50px;
    position: fixed;
    top: 24px;
    left: 112px;
    font-size: 45px;
}

#nav ul {
    background: white;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60%;
}

.off_containe {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    border: none;
}

.offbtn {
    width: 90%;
    height: 50px;
    background-color: #00AB55;
    color: white;
    font-size: 17px;
    padding: 6px;
    border: none;
    border-radius: 5px;
}

.fruder_containe {
    margin-top: 10px;
    margin-bottom: 10px;
}

.food_txt {
    padding-top: 100px;
    font-size: 15px;
}

.food_back2 {
    background-image: url(img/bg-home1-01.jpg);
    height: 700px;
}

.support_container {
    height: 150px;
    background-color: #F4F6F8;
    padding-top: 22px;
    padding-bottom: 15px;
}

.support_item {
    background-color: #ffff;
    padding: 20px;
    height: 80px;
}

.footer_section {
    background-color: white;
    height: 400px;
    color: black;
}

.footer_header {
    margin-bottom: 31px;
    padding: 0;
}

.footer_col ul li {
    list-style: none;
    font-weight: 400;
    padding-bottom: 15px;
    color: #212B36;

}

.footer_col {
    padding-left: 34px;
    margin-right: 30px;
}

.footer_col ul {
    padding: 0;
}

.footer_row {
    padding-top: 80px;
    font-size: 16px;
}

.last_row {
    padding-top: 35px;
    text-align: center;
}